<div class="s004">
      <form class="shortenform">
        <fieldset>
          <legend>ENTER THE LONG ANNOYING URL</legend>
          <div class="inner-form">
            <div class="input-field">
              <input name="url" class="form-control inp" id="choices-text-preset-values" type="text" placeholder="Type to search..." required/>
              <button class="btn-search" type="submit" value="shorten" type="button" role="button">
                <i class="fas fa-cut"></i>
              </button>
            </div>
          </div>
            <legend class="text-success user-result"></legend>
        </fieldset>
      </form>
</div>
<script type="text/javascript" src="js/extention/choices.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>
<script type="text/javascript">
      var clip = new ClipboardJS('.btnn')
      clip.on('success', function(e) {
            alert("copied to clipboard")
      });
      $('.shortenform').on('submit',function(e){
        e.preventDefault();
         $.ajax({
            url: "/s",
            method: "POST",
            dataType: "json",
            data: $('.shortenform').serialize(),
            beforeSend: function() {
              $('.btn-search').html("<i class='fa fa-spinner fa-spin fa-3x fa-fw'></i>")
          },
            success: function( result ) {
                // console.log(result);
                $('.user-result').html("Url shortened: <a target='blank' href='/"+result.shortUrl+"'>"+result.shortUrl+"</a>"+"<a class='btn btn-danger btnn' data-clipboard-text='https://urlshit.herokuapp.com/"+result.shortUrl+"'><i class='far fa-clipboard'></i></a>")
                $('.btn-search').html("<i class='fas fa-cut'></i>")
                $('.inp').clear()
            },
            error: function(err){
                // console.log(err);
                $('.user-result').html("Error!!!")
                $('.inp').clear()
            }
      })

      })
</script>